extends ../../../templates/master.pug

block content
        link(rel='stylesheet', type='text/css', href='/assets/css/inventory.css')
        link(rel='stylesheet', type='text/css', href='/assets/css/style.css')
        script(type='text/javascript', src='/assets/js/jquery.min.js')
        link(rel='stylesheet', type='text/css', href='/assets/js/bootstrap.min.css')
        script(type='text/javascript', src='/assets/js/bootstrap.min.js')

        #dash
            img(src="assets/src/dash.png", alt='something')
