extends ../../../templates/master.pug

block content
        link(rel='stylesheet', type='text/css', href='/assets/css/inventory.css')
        script(type='text/javascript', src='/assets/js/jquery.min.js')
        link(rel='stylesheet', type='text/css', href='/assets/js/bootstrap.min.css')
        script(type='text/javascript', src='/assets/js/bootstrap.min.js')