//- This is how we extend a template using the 'extends' keyword
extends ../../../templates/master.pug

//- This is how we insert dynamic content to extended templates
block content
        link(rel='stylesheet', type='text/css', href='/assets/css/inventory.css')
        script(type='text/javascript', src='/assets/js/jquery.min.js')
        link(rel='stylesheet', type='text/css', href='/assets/js/bootstrap.min.css')
        script(type='text/javascript', src='/assets/js/bootstrap.min.js')
        br
        .row
            .col-sm-12
                .card(style="width:100%; min-width:300px;")
                    .card-header
                        h4.subtitle(style="padding:2px;") Ordered Products
                        .div
                            button.btn.btn-success(data-toggle='modal', data-target='#addmaterials') Add
                    .card-block.table-border-style
                        .table-responsive(style="width:100%; min-width:200px;")
                            table.table
                                thead
                                    tr
                                        th Order Number
                                        th Recepient 
                                        th Product Label
                                        th Unit
                                        th Quantity
                                        th Supplier
                                        th Action
                                        th
                                tbody
                                    tr
                                        th 110221
                                        td CADENA, John Homer A.
                                        td Tanduay Ice
                                        td Case
                                        td 10
                                        td LT Group, Inc.
                                        td 
                                            button.btn.btn-primary(data-toggle='modal', data-target='#editmaterials') Edit
                                        td
                                            button.btn.btn-danger(type='button') Delete

            
            
            #addmaterials.modal.fade.modal-icon(tabindex='-1', role='dialog', aria-labelledby='addmaterial', aria-hidden='true')
                .modal-dialog(role='document')
                    .modal-content
                        .modal-header
                            h4#myModalLabel.modal-title Ordered Prducts
                            button.close(type='button', data-dismiss='modal', aria-label='Close')
                                span(aria-hidden='true') ×
                        .modal-body
                            .row
                                .col-md-8
                                    .form-group
                                        | Recepient
                                        input#name.form-control(type='text', value='')
                            .row    
                                .col-md-4
                                    .form-group
                                        |Product Label
                                        input#name.form-control(type='text', value='')
                                .col-md-4
                                    .form-group
                                        .input.is-primary
                                            select(name="uom" required)
                                                option(value='') -- UOM --
                                                option(value='Case') Case
                                                option(value='Bucket') Bucket
                                                option(value='Bottle') Bottle
                                .col-md-2
                                    .form-group
                                        |Quantity
                                        input#name.form-control(type='number', value='')
                            .row
                                .col-md-8
                                    .form-group
                                        | Supplier
                                        input#name.form-control(type='email', value='')
                        .modal-footer
                            button.btn.btn-secondary(type='submit') Submit
                            button.btn.btn-secondary(type='button', data-dismiss='modal') Close

            #editmaterials.modal.fade.modal-icon(tabindex='-1', role='dialog', aria-labelledby='addmaterial', aria-hidden='true')
                .modal-dialog(role='document')
                    .modal-content
                        .modal-header
                            h4#myModalLabel.modal-title Add Product
                            button.close(type='button', data-dismiss='modal', aria-label='Close')
                                span(aria-hidden='true') ×
                        .modal-body
                            .row
                                .col-md-8
                                    .form-group
                                        | Recepient
                                        input#name.form-control(type='text', value='')
                            .row    
                                .col-md-4
                                    .form-group
                                        |Product Label
                                        input#name.form-control(type='text', value='')
                                .col-md-4
                                    .form-group
                                        .input.is-primary
                                            select(name="uom" required)
                                                option(value='') -- UOM --
                                                option(value='Case') Case
                                                option(value='Bucket') Bucket
                                                option(value='Bottle') Bottle
                                .col-md-2
                                    .form-group
                                        |Quantity
                                        input#name.form-control(type='number', value='')
                            .row
                                .col-md-8
                                    .form-group
                                        | Supplier
                                        input#name.form-control(type='email', value='')
                        .modal-footer
                            button.btn.btn-secondary(type='submit') Submit
                            button.btn.btn-secondary(type='button', data-dismiss='modal') Close