extends ../../../templates/base

block body
    - var hasIncorrect = typeof incorrect !== 'undefined' ? 'Incorrect username or password.' : ''
    - var hasUnauthorized = typeof unauthorized !== 'undefined' ? 'You are not authorized to view the page you\'re trying to access. Please log in first.' : ''
    - var unRegistered = typeof unregistered !== 'undefined' ? 'Your account is now in under review by the admin.' : ''
    section.hero.is-dark
        .hero-body
            if hasIncorrect || hasUnauthorized || unRegistered
                .notification.is-danger
                    | #{hasIncorrect || hasUnauthorized || unRegistered }
            .columns
                .column.is-7
                    .container
                        h1.title Cerveza
                        h2.subtitle Clinks to a clear alcohol inventory system

                .column
                    form(method="POST" action="/login")
                        .field.is-horizontal
                            .field-label.is-normal
                                label.label.has-text-white Username
                            .field-body
                                .field
                                    p.control.is-expanded
                                        input.input(type="text" name="username" required)
                        
                        .field.is-horizontal
                            .field-label.is-normal
                                label.label.has-text-white Password
                            .field-body
                                .field
                                    p.control.is-expanded
                                        input.input(type="password" name="password" required)
                        
                        input.button.is-primary.is-pulled-right(type="submit" value="Log-in")