//- This now serves as the base template, even for the master

html
    head
        link(rel='icon', type='image/png', href='/assets/images/logocerveza.ico')
        title Cerveza
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        link(rel="stylesheet" href="/assets/bulma/bulma.css")
        link(rel="stylesheet" href="/assets/font-awesome-4.7.0/css/font-awesome.min.css")
        script(src='/assets/js/modal.js')
        script(src='/assets/js/script.js')
        script(src='/assets/js/modalEffects.js')

      


        

    body
        block body
